HELP.md
.gradle
build/
logs/
plugin/src/main/groovy/org.unify4j/test/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
!**/src/main/org.unify4j/test/**
plugin/build/
plugin/bin/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
src/main/java/META-INF/
*.gz
